:root {
	--text-color-main: rgb(0, 0, 0);
	--date-card-bg-color: #ffffffbd;
	--login-btn-color: #f9f3b5;
	--login-card-bg-color: #b0aa00cd;
}

.outline {
	outline: 1px solid RED;
}

.text {
	color: var(--text-color-main);
}

.button {
	background-color: white;
}

.centered {
	text-align: center;
}

/* ===== HEADER ===== */

span.line {
	display: inline-block;
}

/* ===== DATE CARD ===== */

#date-card {
	background-color: var(--date-card-bg-color);
	opacity: 1;
	/* background-image: radial-gradient(rgb(187, 174, 0) 0.75px, var(--date-card-bg-color) 0.75px);
	background-size: 15px 15px; */
}

/* ===== LOGIN MODAL ===== */

#login-form {
	background-color: var(--login-card-bg-color);
}

#login-btn {
	color: var(--text-color-main);
	background-color: var(--login-btn-color);
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
